header {
    background-color: black;
    margin:0;

}

.nav {
    
}

.logo {
    margin:0;
}

.container-banner-index {
    display:flex;
    width:1690px;
    height:507px;
    margin:0;
    background-color: aquamarine;

}

.banner-index {
    margin:0;
    padding: 0;
    position:relative;
    background-position: center;
    width:100%;
    height:100%;

}

.text-banner-index {
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    size: 100px;
    top:30%;
    left:50%;
    right:;
    bottom: ;

}

.text-big {
    font-size: 80px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}


.subtitle-index {

}

.text-index {

}